<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lots.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E41B311B1E39AEF700AD8347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E41B312F1E39AEF700AD8347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E41B313A1E39AEF700AD8347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
